.service {
    border-radius: 5px;
    border: 2px solid #CD3D73;
}

.service:hover{
    border: 2px solid #fff;
    background-image:linear-gradient(to left, #4B2C4C , #151F28);
    color: #fff;
}
.learn:hover{
    color: #fff;
}
.icon:hove{
    color: #fff;
}