.footer {
    background-color: #121921;
    color: #fff;
}
.usefull-link li{
    list-style: none;
    padding: 10px 0;
}

.text-start.usefull-link {
    padding: 0;
}

.hr {
    border-top: 1px solid darkslategray;
}

.footer {
    background-image: url('https://i.ibb.co/12ZLy98/counter-bg.png');
    background-position: center;
    background-size: contain;
}

@media only screen and (min-width:1025px ){
    .footer{
        padding: 120px !important;
    }
}

@media (max-width: 767px){
    .f-bottom{
        flex-direction: column;
    }
}